@import "tailwindcss";

@theme {
  --color-primary: oklch(66.6% 0.179 58.318);
  --color-gray-dark: #4e4e4e;
  --breakpoint-sm: 640px;
}

@layer base {
  body {
    @apply text-white;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .glass {
    @apply bg-white/10 backdrop-blur-2xl rounded-2xl;
  }
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
